<a href="/">Home</a>

<h1>Citys to visit</h1>

{{#each citysArr}}
    <section class="">
        <img src="{{this.imageUrl}}" alt="">
        <h2>{{this.name}}</h2>
        <p>
            Country: {{this.country}} <br />
            Description: {{this.description}} <br />
        </p>
    
        <form action="/activities" method="GET">
            <button name="city" value="{{this.id}}">Activities</button>
        </form>

        <a href="/auth/{{this._id}}/edit">Edit</a>

        <form action="/auth/{{this._id}}/delete" method="POST" >
            <button>Delete</button>
        </form>

    </section>
{{/each}}

 <a href="/auth/create">Add City</a>