<h2>Activities in {{city.name}}</h2>
{{#each activities}}
    <div class="activity">
        <p>{{name}}</p>
        <p>{{description}}</p>
        <p>{{location}}</p>
        <a href="/cities/{{city._id}}/activities/{{_id}}/edit">Edit</a>
        <form action="/cities/{{city._id}}/activities/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        <hr>
    </div>
{{/each}}
<a href="/cities/{{city._id}}/activities/create">Add new activity</a>
