<h2>Activity</h2>
    <div class="activity">
        <p>{{name}}</p>
        <p>{{city.name}}</p>
        <p>{{description}}</p>
        <p>{{location}}</p>
        <a href="/activities/{{id}}/edit">Edit</a>
        <form action="/activities/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        <hr>
    </div>