<h2>Activities in {{city.name}}</h2>
{{#each activities}}
    <div class="activity">
        <p>{{name}}</p>
        <p>{{city.name}}</p>
        <p>{{description}}</p>
        <p>{{location}}</p>
        <a href="/activities/{{id}}/edit">Edit</a>
        <form action="/activities/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        <hr>
    </div>
{{/each}}
<form action="/activities/create" method="GET">
    <button name="cityId" value="{{city._id}}">Add new activity</button>
</form>