<h2>Activities in {{activities.0.city.name}}</h2>
{{#each activities}}
    <div class="activity">
        <p>{{name}}</p>
        <p>{{city.name}}</p>
        <p>{{description}}</p>
        <p>{{location}}</p>
        <a href="/activities/{{id}}">Details</a>
        <hr>
    </div>
{{/each}}