<h2>Edit Activity</h2>
<form action="/activities/{{id}}/edit" method="POST">
    <label>Name: 
        <input type="text" name="name" value="{{name}}" required>
    </label>
    <label>Description: 
        <textarea name="description" cols="30" rows="4">{{description}}</textarea>
    </label>
    <label>Location: 
        <input type="text" name="location" value="{{location}}">
    </label>
    <input type="hidden" name="city" value="{{_id}}">
    <button>Submit</button>
</form>