<div class="row justify-content-center my-5">
  <div
    class="card text-center font-weight-bold p-5 shadow"
    style="width: 30rem;"
  >
    <div class="card-body">

      <h2 class="card-title pb-5">Edit Activity</h2>
      <form
        class="card-text"
        action="/cities/{{city._id}}/activities/{{_id}}/edit"
        method="POST"
      >
        <div class="form-group">
          <label>Name:
            <input class="border-info" type="text" name="name" value="{{name}}" required />
          </label>
        </div>
        <div class="form-group p-3">
          <label>Description:
            <textarea class="border border-info"
              name="description"
              cols="35"
              rows="6"
            >{{description}}</textarea>
          </label>
        </div>
        <div class="form-group">
          <label>Location:
            <input class="border-info" type="text" name="location" value="{{location}}" />
          </label>
        </div>
        <div class="form-group">
          <input type="hidden" name="city" value="{{city._id}}" />
          <button  class="btn-lg btn-info">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>