<section class="">
    <img src="{{city.imageUrl}}" alt="">
    <h2>{{city.name}}</h2>

    <p>{{weather.temperature}}</p>
    <p>{{weather.condition}}</p>
    <img src="{{weather.icon}}" alt="">

    <p>
        Country: {{city.country}} <br />
        Description: {{city.description}} <br />
    </p>

    <form action="/activities" method="GET">
        <button name="cityId" value="{{city._id}}">Activities</button>
    </form>

    <a href="/cities/{{city._id}}/edit">Edit</a>

    <form action="/cities/{{city._id}}/delete" method="POST">
        <button>Delete</button>
    </form>

</section>
