<div class="container">
<div class="row justify-content-center">

    <div id="city-card" class="col-8 col-sm-6">
   <div class="card card text-center shadow-lg p-3 mb-5 bg-white rounded">
    <section class="">
        <img src="{{city.imageUrl}}" class="card-img-top img-fluid max-width:100%" alt="">
        
        <div class="card-body">
        
        <div class="row card-title align-items-center justify-content-center">
        <h2 class="col-6" >{{city.name}}</h2>
        
        <div class="col-2 font-weight-bold" id="weather">
        <p>{{weather.temperature}}°C</p>
    <p>{{weather.condition}}</p>
    </div>
    <div class="col-2">
    <img src="{{weather.icon}}" alt="">
    </div>
        
        </div>

    </section>

    <p id="country" class="text-left font-weight-bold">
    {{city.country}} 
        </p>
        <div id="city-description" class="card-text text-justify">
        <p>{{city.description}}</p>
        </div>
        

    <a href="/cities/{{city._id}}/activities" class="btn btn-info">Activities in {{city.name}}</a>


    <a href="/cities/{{city._id}}/edit" class="btn btn-outline-primary">Edit</a>

    <form action="/cities/{{city._id}}/delete" method="POST">
        <button class="btn btn-outline-secondary">Delete</button>
    </form>

 </div>
  </div>
   </div>
    </div>
</div>

