<div class="container">
<div class="row justify-content-center">

    <div id="city-card" class="col-8 col-sm-6">
   <div class="card card text-center">
    <section class="">
        <img src="{{city.imageUrl}}" class="card-img-top img-fluid max-width:100%" alt="">
        <div class="card-body">
        <div class="card-title">
        <h2>{{city.name}}</h2>
        </div>
        <p>{{weather.temperature}}</p>
    <p>{{weather.condition}}</p>
    <img src="{{weather.icon}}" alt="">
    </section>

    <p>
        Country: {{city.country}} 
        </p>
        <div id="" class="card-text text-justify">
        <p>Description: {{city.description}}</p>
        </div>
        

    <form action="/activities" method="GET">
        <button name="cityId" value="{{city._id}}">Activities</button>
    </form>

    <a href="/cities/{{city._id}}/edit">Edit</a>

    <form action="/cities/{{city._id}}/delete" method="POST">
        <button>Delete</button>
    </form>

 </div>
  </div>
   </div>
    </div>
</div>

